<ion-view title="Dashboard" class="dashboard">
  <ion-content padding="true">
    <h3 ng-if="account.name">Welcome, {{account.name}}!</h3>

    <a ui-sref="send" class="button button-block button-large button-positive">
      Send a package
    </a>

    <a ui-sref="receive" ng-disabled="!pendingPickups.length" class="button button-block button-large button-positive">
      Receive a package
    </a>

    <h4>Pending deliveries</h4>
    <ul ng-if="pendingDeliveries.length">
      <li ng-repeat="package in pendingDeliveries">
        <dl>
          <dt>Recipient</dt>
          <dd>{{getAccountDetails(package, "recipient").name}}</dd>
        </dl>
      </li>
    </ul>
    <p ng-if="!pendingDeliveries.length">
      You haven't sent any packages yet.
    </p>

    <h4>Packages ready for pickup</h4>
    <ul ng-if="pendingPickups.length">
      <li ng-repeat="package in pendingPickups">
        <dl>
          <dt>Sender</dt>
          <dd>{{getAccountDetails(package, "sender").name}}</dd>
        </dl>
      </li>
    </ul>
    <p ng-if="!pendingPickups.length">
      You haven't received any packages yet.
    </p>
  </ion-content>
</ion-view>
