<ion-view hide-back-button="true" title="Dashboard"  class="dashboard">
  <ion-content padding="true">
      <h4 class="secondary-text" ng-if="account.name">
          Welcome, {{account.name}}!
      </h4>
    <h4>Pending pick-ups</h4>
    <p>
      {{pendingPickups.length}} 
                <span ng-pluralize count="pendingPickups.length"
              when="{'one': 'package',
                   'other': 'packages'}">
        </span> ready to be picked up.
    </p>

    <ul ng-if="pendingPickups.length">
      <li ng-repeat="package in pendingPickups">
                    <span class="secondary-text">{{package.created_at | date:'dd.MM.yyyy HH:mm'}}</span> From: {{getAccountDetails(package, "sender").name}}
<!--
          <dl>
          <dt>From</dt>
          <dd>{{getAccountDetails(package, "sender").name}}</dd>
        </dl>
-->
      </li>
    </ul>

          <hr>

    <h4>Pending deliveries</h4>
    <p>
        {{pendingDeliveries.length}}
        <span ng-pluralize count="pendingDeliveries.length"
              when="{'one': 'delivery pending',
                   'other': 'deliveries pending'}">
        </span>
    </p>


    <ul ng-if="pendingDeliveries.length">
      <li ng-repeat="package in pendingDeliveries">
                              <span class="secondary-text">{{package.created_at | date:'dd.MM.yyyy HH:mm'}}</span> To: {{getAccountDetails(package, "recipient").name}}
<!--
        <dl>
          <dt>To</dt>
          <dd>{{getAccountDetails(package, "recipient").name}}</dd>
        </dl>
-->
      </li>
    </ul>
  </ion-content>
</ion-view>
