<ion-view title="Select recipient">
  <ion-content padding="true">
    <ion-list>
      <ion-radio ng-repeat="recipient in recipients" ng-click="setRecipient(recipient)">
        #{{recipient.apartment}} - {{recipient.name}}
      </ion-radio>
    </ion-list>

    <a ui-sref="verify" ng-disabled="!recipient" class="button button-block button-large button-positive">
      Confirm
    </a>

    <a ui-sref="dashboard" class="button button-assertive">
      Cancel
    </a>
  </ion-content>
</ion-view>
